<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>Challenge coureurs Ardennes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
  <div id="app" class="mx-auto p-2" style="max-width: 900px">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <div>
	      <button class="navbar-toggler" type="button" @click="showNavbar=!showNavbar; marquee = false;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="marquee-container d-inline-flex ms-2" v-if = "marquee">
            <div class="marquee-content">
              &lt; &lt; &lt; Menu &lt; &lt; &lt;
            </div>
          </div>
        </div>
        <h4>{{season}} / {{season + 1}}</h4>
        <div class="collapse navbar-collapse" :class="{ show: showNavbar }" id="navbar">
          <div class="navbar-nav" @click="showNavbar=!showNavbar">
          <a class="nav-link active" href="#" @click="click2026()">Classement 2026 / 2027</a>
          <a class="nav-link active" href="#" @click="click2025()">Classement 2025 / 2026</a>
          <a class="nav-link active" href="https://www.athle.fr/bases/liste.aspx?frmpostback=true&frmbase=calendrier&frmmode=1&frmdate1=2026-09-01&frmdate2=2027-08-31&frmdepartement=008" target="_blank">Calendrier / résultats</a>
          <a class="nav-link active" href="https://drive.google.com/drive/folders/1qem0x7hX3VsSFzezGTfbqCIaG_imQAkA" target="_blank">Règlement / Challenge clubs</a>
          <a class="nav-link">Aide, à venir ...</a>
          <a class="nav-link active" href="SC.html">SC</a>
          </div>
        </div>
      </div>
    </nav>
  
    <div class="mb-2">  
      <input
        type="radio"
        id="classement"
        value="classement"
        v-model="typeTab"
        class="me-1"
      />
      <label for="classement" class="me-2">classement</label>
      <input type="radio" id="detail" value="detail" v-model="typeTab" class="me-1" @click="typeTri='course'"/>
      <label for="detail" class="me-2">détail</label>
      <br v-if="width < 420"/>
      <select name="cat" v-model="catSelect" class="me-2">
        <option value="">Catégorie</option>
        <option value="CA">Cadets</option>
        <option value="JU">Juniors</option>
        <option value="SE+">ES / SE / M0</option>
        <option value="V1">M1 / M2</option>
        <option value="V2">M3 / M4</option>
        <option value="V3+">M5 et plus</option>
        <option value="TC">Toutes Cat.</option>
      </select>
      <select name="sexe" v-model="sexeSelect">
        <option value="">Sexe</option>
        <option value="F">F</option>
        <option value="M">M</option>
      </select>
    </div>
    
<!--##########################################Classement#########################"-->
    <div v-show="typeTab == 'classement'">
      <table v-if="catSelect && sexeSelect" class="table table-striped">
  	    <thead>
          <tr>
	   	    <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">Cat<span v-if="width > 574">égorie</span><span v-else>.</span></th>
            <th scope="col" class="text-center">
			  <div class="row">
			    <div class="col-12 col-sm-6">
			      <span v-if="width > 450">Points</span><span v-else>Pts</span>
			    </div>
			    <div class="col-12 col-sm-6 small">
			      <strong v-if="width > 450">Moyenne</strong><strong v-else>Moy.</strong>
			    </div>
			  </div>
	        </th>
          </tr>
        </thead>
        <tbody id="rankingTable">
          <tr 
            v-for="(line, index) in myRanking"
            :key="index"
            v-show="rankingRowChoice[index] > 0"
          >
            <td>{{ line.rang }}</td>
            <td
              class="clickable"
              @click="typeTab = 'detail'; typeTri = 'coureur' ; searchName = line.nom; numLien = line.num_athlete"
            >{{ line.nom }}
            </td>
            <td>{{ line.categorie }}</td>
            <td class="text-center">
			  <div class="row">
			    <div class="col-12 col-sm-6">{{ line.points }}</div>
			    <div class="col-12 col-sm-6 small">{{ Math.min(12, line.nbCourses) }} x {{ line.ptMoy }}</div>
			  </div>
		    </td>
          </tr>
        </tbody>
      </table>
      <div v-else class="alert alert-primary" role="alert">Veuillez choisir la categorie et le sexe</div>
    </div>	  


    <div v-show="typeTab == 'detail'">
	  <div>Tri par : 
        <input type="radio" id="course" value="course" v-model="typeTri" class="me-1" @click="searchName=''; numLien=''"/>
        <label for="course" class="me-2">course</label>
        <input type="radio" id="coureur" value="coureur" v-model="typeTri" class="me-1" @click="searchRace=''; choixEpreuve={};"/>
        <label for="coureur" class="me-2">coureur</label>
        <input v-show="false" type="radio" id="aucun" value="" v-model="typeTri" class="me-1" @click="searchName=''; numLien=''; searchRace=''; choixEpreuve ={};"/>
        <label v-show="false" for="aucun">aucun</label>
      </div>
        
<!--##########################################ByRace#########################"-->
	  <div v-show="typeTri == 'course'" style="width: fit-content">
	    <input v-model.lazy="searchRace" type="text" id="searchRaceInput" placeholder="Recherche ..." @keyup="filterByRace()" style="min-width: 300px"/> 
        <div style="position: relative; z-index: 2">
          <div class="myDropdown races">
            <div v-for="(name, index) in myRaces" :key="index" @click="searchRace = name['competition']; filterByRace(name);">
  			  {{ name['competition'] }} <br/> {{name.epreuve}}
  		    </div>
          </div>
        </div>
        <div v-if="choixEpreuve.lieu">
	      <div><a id="epreuve" :href="choixEpreuve.url" target="_blank">Epreuve : {{ choixEpreuve['epreuve'] }}</a></div>
	      <div style="display: inline-flex">
	        <div id="coeff" class="me-4">
		      <span v-if="width > 450">Coefficient : </span>
		      <span v-else>coeff x</span>
		      {{ choixEpreuve['coeff'] }}
		    </div>
	        <div id="nbResultats" class="me-4">Nb résultats : {{ choixEpreuve.nbResultats }}</div>
	        <div id="ajoutPts">
			  <span v-if="width > 450">Ajout de points : </span>
		      <span v-else>pts +</span>
		      {{ choixEpreuve['pts.'] }}
		    </div>
	      </div>
	    </div>
      </div>
    
<!--##########################################ByName#########################"-->
	  <div v-if="typeTri == 'coureur'" style="width: fit-content">
        <input id="searchNameInput" v-model.lazy="searchName" type="text" placeholder="Recherche ..." @keyup="filterByName()" /> 
        <div style="position: relative;">
          <div class="myDropdown names">
            <div
              v-for="(name, index) in tabNames"
              :key="index"
              @click="nameClick(name)"
             >{{ name.nom }}
            </div>
          </div>
        </div>
        <a v-if="numLien" :href="'https://www.athle.fr/athletes/'.concat(numLien)" target="_blank">lien fiche FFA</a>
      </div> 

<!--##########################################Table#########################"-->    
	  <table v-if="searchName || searchRace" class="table table-striped">
	    <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Cat<span v-if="width > 575">égorie</span><span v-else>.</span></th>
            <th scope="col" class="text-center">Pl<span v-if="width > 575">ace</span><span v-else>.</span></th>
            <th scope="col" class="text-center"><span v-if="width > 575">Points</span><span v-else>Pts</span></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(line, index) in tabByEntry" :key="index">
            <td class="clickable">
			  <span v-if="typeTri == 'course'" @click="nameClick(line)"> {{ line.nom }}</span>
			  <span v-if="typeTri == 'coureur'" @click="raceClick(line)">
			    {{ dictRaces[line['epreuve']].compet }} <br/> {{ dictRaces[line['epreuve']].epreuve }}
			  </span>
		    </td>
            <td>{{ line['cat.'] }}<span class="d-none d-sm-inline"> ({{ line['categorie'] }})</span></td>	
            <td class="text-center">{{ line['pl./cat.'] }}<span class="d-none d-sm-inline"> ({{ line.place }})</span></td>
            <td class="text-center">{{ line.points }}</td>
          </tr>
        </tbody>
      </table>
      <div v-else class="alert alert-primary" role="alert">Veuillez utiliser la zone de recherche ci-dessus</div>
    </div>
  </div>
  </body>
</html>

<script type="module">
  import { createApp, ref, computed, watch, onMounted, onUnmounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
  import { datas2025, races2025, ranking2025 } from "./challenge2025.js";
  import { datas2026, races2026, ranking2026 } from "./challenge2026.js";

  createApp({
    setup() {
      const myFiles = ref({'ranking': 'challenge_clst.csv', 'races': 'liste_courses.csv', 'datas': 'bdd.csv'})
      const myDatas = ref(datas2026)
      const myRaces = ref(races2026)
      const myRanking = ref(ranking2026)
      const tabNames = ref([])
      const dictRaces = ref({})
      const searchName = ref('')
      const searchRace = ref('')
      const showNavbar = ref(true)
      const season = ref(2026)
      const catSelect = ref('')
      const sexeSelect = ref('')
      const choixEpreuve = ref({})
      const typeTab = ref('classement')
      const typeTri = ref('')
      const width = ref(window.innerWidth)
      const numLien = ref('');
      const marquee = ref(true);
      const syncWidth = () => {width.value = window.innerWidth; console.log(width.value);}
      
      watch(typeTab, (val) => {
        choixEpreuve.value = {};
        searchRace.value = '';
        if (val == 'classement') {searchName.value = ''; numLien.value = ''};
      })
      
      function nameClick(line){
        typeTri.value = 'coureur';
        searchRace.value = '';
        choixEpreuve.value = {};
        searchName.value = line.nom;
        numLien.value = line.num_athlete;
        for (let line of myDatas.value){
		  if (line.nom == searchName.value && line['cat.'].slice(0,2) != "TC"){ 
			  if(line['cat.'].slice(2,3) == "+"){catSelect.value = line['cat.'].slice(0,3);}
			  else{catSelect.value = line['cat.'].slice(0,2);};
			  sexeSelect.value = line['cat.'].slice(-1);
			  break;
		  };
	    };
        filterByName('all');
      }
      
      function raceClick(line){
        typeTri.value = 'course';
        searchName.value = '';
        numLien.value = '';
        searchRace.value = dictRaces.value[line['epreuve']].compet;
        for (let race of myRaces.value) {
          if (race['numero'] == line['epreuve']){ choixEpreuve.value = race; break };
	    };
      }
      
      const tabByEntry = computed(() => {
		let tab=[];
		let tabTC = [];
		let bool=true;
		let i = 1;
	    for (let line of myDatas.value){
		  bool = (line.nom == searchName.value || !searchName.value)
		  bool = bool && (line['epreuve'] == choixEpreuve.value['numero'] || !searchRace.value);
		  bool = bool && (line['cat.'].slice(0,2) == catSelect.value.slice(0,2) || !catSelect.value);
		  bool = bool && (line['cat.'].slice(-1) == sexeSelect.value || !sexeSelect.value);
	      if (bool){ 
			  if (line['cat.'].slice(0,2)=='TC') { tabTC.push(line) }else{ tab.push(line) };
		  };
	    };
	    return tab.concat(tabTC);
      })
      
      const rankingRowChoice = computed(() => {
		let tab=[];
		let bool=true;
		let i = 1;
	    for (let line of myRanking.value){
		  bool = (line['categorie'].slice(0,2) == catSelect.value.slice(0,2) || !catSelect.value);
		  bool = bool && (line['categorie'].slice(-1) == sexeSelect.value || !sexeSelect.value);
	      if (bool){ tab.push(i); i=i+1; }else{ tab.push(0); };
	    };
	    return tab;
      })
      
      function filterByName(all) {
        let searchNameInput = document.getElementById("searchNameInput");
        if (searchNameInput){
          let filter = searchNameInput.value.toUpperCase();
          let  dropdowns = document.querySelectorAll(".myDropdown.names div");    
          for (const drpd of dropdowns) {
            let txtValue = drpd.textContent || drpd.innerText;
            if (filter && !all && txtValue.toUpperCase().indexOf(filter) > -1) {
              drpd.style.display = "block";
            } else {
              drpd.style.display = "none";
            }
          }
        }
      }
      
      function filterByRace(name) {
		let searchRaceInput = document.getElementById("searchRaceInput");
        let filter = searchRaceInput.value.toUpperCase();
        let  dropdowns = document.querySelectorAll(".myDropdown.races div");      
        for (const drpd of dropdowns) {
          let txtValue = drpd.textContent || drpd.innerText;
          if (filter && !name && txtValue.toUpperCase().indexOf(filter) > -1) {
            drpd.style.display = "block";
          } else {
            drpd.style.display = "none";
          }
        }
        if (name) { choixEpreuve.value = name; }
      }
      
      async function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      }
      
      
      function fillTabNames() {
		let tabNamesTri = [];
	    let tabTemp = [];
	    tabNames.value = [];
	    
	    for (let data of myDatas.value){ 
			tabNamesTri.push(data.nom);
			tabTemp.push({nom: data.nom, num_athlete: data.num_athlete});
		};
	    //for (let data of myDatas.value){ tabNames.value.push(data.nom) };
	    //A VOIR
	    //for (let race of myRaces.value){ 
		//  dictRaces.value[race['numero']] = {compet: race['competition'], epreuve: race.epreuve};
		//};
						
	    tabNamesTri = [... new Set(tabNamesTri)].sort();    
	    for (let name of tabNamesTri){
	      for (let temp of tabTemp){
		    if (temp.nom == name) {
			  tabNames.value.push(temp);
			  break;
			}
	      };
	    };
	    console.log("tabNames rempli");
      }
      
      function fillDictRaces() {
		dictRaces.value = {};
	    for (let race of myRaces.value){ 
		  dictRaces.value[race['numero']] = {compet: race['competition'], epreuve: race.epreuve};
		};
		console.log("dictRaces rempli");
      }
      
      function click2025(){
		myDatas.value = datas2025;
        myRaces.value = races2025;
        myRanking.value = ranking2025;
		season.value = 2025;
		typeTab.value = 'classement';
		fillDictRaces();
	    fillTabNames();
	  }
	  
	  function click2026(){
		myDatas.value = datas2026;
        myRaces.value = races2026;
        myRanking.value = ranking2026;
		season.value = 2026;
		typeTab.value = 'classement';
		fillDictRaces();
	    fillTabNames();
	  }
               
      onMounted( async () => {
		let t0 = performance.now();
		fillDictRaces();
	    fillTabNames();
	    let t1 = performance.now();
        console.log("L'appel de fill a demandé " + (t1 - t0) + "ms");
	    showNavbar.value = false;
	    window.addEventListener('resize', syncWidth);
	    await sleep(10000);
	    marquee.value = false;
	  })
	  
	  onUnmounted(() => window.removeEventListener('resize', syncWidth));
          
      return {
        myFiles,
        myDatas,
        myRaces,
        myRanking,
        tabNames,
        dictRaces,
        searchName,
        searchRace,
        showNavbar,
        season,
        catSelect,
        sexeSelect,
        choixEpreuve,
        filterByName,
        filterByRace,
        typeTab,
        typeTri,
        rankingRowChoice,
        nameClick,
        raceClick,
        width,
        numLien,
        tabByEntry,
        marquee,
        click2025,
        click2026,
      }
    },
  }).mount('#app')
</script>

<style>
.clickable {
  cursor: pointer;
}	
	
.myDropdown {
  position: absolute;
  width: 100%;
  border: 1px solid #ddd;
  z-index: 1;
  background-color: white;
}

.myDropdown div {
  display: none;
  cursor: pointer;
  color: black;
  padding: 0px 10px;
  text-decoration: none;
  z-index: 1;
}

.myDropdown div:hover {background-color: gainsboro}

.marquee-container {
  overflow: hidden;
}

.marquee-content {
  padding: 10px;
  animation: marquee 3s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(60%); }
  100% { transform: translateX(-60%); }
}
</style>
